<h1>Detalles del Usuario</h1>
<div>Name: <%= @user.name %></div>
<div>Lastname: <%= @user.lastname %></div>
<div>Phone: <%= @user.phone %></div>
<div>Email: <%= @user.email %></div>
<div>Description: <%= @user.description %></div>
